body {
    background-color: white;
}


h1 {
    text-align: center;
    color: grey;
}


.nav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.nav .nav-item{
    margin-top: 10px;
}
.footer  {
    color: white;
    text-align: center;
    background-color: #7AC678;
    margin-top: 100px;
}

